
/*** Spinner Start ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Spinner End ***/

.back-to-top {
    position: fixed;
    left: 30px;
    bottom: 30px;
    transition: 0.5s;
    z-index: 99;
}


/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-xl-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square,
.btn-xl-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.btn-primary {
    color: var(--bs-white);
    border: none;
}

.btn.btn-primary:hover {
    background: var(--bs-dark);
    color: var(--bs-white);
}

.btn.btn-light {
    color: var(--bs-primary);
    border: none;
}

.btn.btn-light:hover {
    color: var(--bs-white);
    background: var(--bs-dark);
}

.btn.btn-dark {
    color: var(--bs-white);
    border: none;
}

.btn.btn-dark:hover {
    color: var(--bs-primary);
    background: var(--bs-light);
}


/*** Topbar Start ***/ 
.topbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
    color: var(--bs-primary);
}

.topbar .dropdown .dropdown-menu a:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

.topbar .dropdown .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light);
    padding-top: 10px;
    border: 0;
    transition: .5s;
    opacity: 1;
}
/*** Topbar End ***/


/*** Navbar Start ***/
.nav-bar {
    background: var(--bs-white);
    transition: 1s;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.nav-bar .navbar-light .navbar-brand img {
    max-height: 70px;
}

.navbar .navbar-nav .nav-item .nav-link {
    padding: 0;
}

.navbar .navbar-nav .nav-item {
    display: flex;
    align-items: center;
    padding: 15px;
}

.navbar-light .navbar-nav .nav-item:hover,
.navbar-light .navbar-nav .nav-item.active,
.navbar-light .navbar-nav .nav-item:hover .nav-link,
.navbar-light .navbar-nav .nav-item.active .nav-link {
    color: var(--bs-primary);
}

@media (max-width: 991px) {
    .navbar {
        padding: 20px 0;
    }

    .navbar .navbar-nav .nav-link {
        padding: 0;
    }

    .navbar .navbar-nav .nav-item {
        display: flex;
        padding: 20px;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .navbar .navbar-nav .nav-btn {
        display: flex;
        justify-content: start;
    }

    .navbar .navbar-nav {
        width: 100%;
        display: flex;
        margin-top: 20px;
        padding-bottom: 20px;
        background: var(--bs-light);
        border-radius: 10px;
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 8px 15px;
        border: 1px solid var(--bs-primary);
        color: var(--bs-primary);
    }
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

@media (min-width: 992px) {
    .navbar {
        /* padding: 0 0; */
    }

    .navbar .nav-btn {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .navbar .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--bs-light);
        border-radius: 10px;
    }

    .navbar .navbar-nav .nav-btn {
        width: 100%;
        display: flex;
        margin-left: auto;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        border-radius: 10px;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        margin-top: 20px;
        background: var(--bs-light);
        transition: .5s;
        opacity: 1;
    }
}
/*** Navbar End ***/


/*** Carousel Hero Header Start ***/
.header-carousel .header-carousel-item {
    height: 550px;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background: var(--bs-light);
    color: var(--bs-primary);
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev {
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 30px;
}
.header-carousel .owl-nav .owl-next {
    bottom: 30px;
    right: 50%;
    transform: translateX(-50%);
    margin-right: 30px;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 0 0 100px 0 var(--bs-secondary);
    color: var(--bs-white);
}

.header-carousel .header-carousel-item .carousel-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    /* background: rgba(0, 0, 0, .2); */
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .header-carousel .header-carousel-item .carousel-caption {
        /* padding-top: 45px; */
    }

    .header-carousel .header-carousel-item {
        height: 1300px;
    }
}

@media (min-width: 768px) {
    .mobil{
        display: none !important;
    }

    .destock{
        display: block !important;
    }
}

@media (max-width: 767px) {
    .mobil{
        display: block !important;
    }

    .destock{
        display: none !important;
    }

    .header-carousel .header-carousel-item {
        height: 560px;
    }

    .header-carousel .owl-nav .owl-prev {
        /* bottom: -30px; */
        left: 50%;
        transform: translateX(-50%);
        margin-left: -45px;
    }

    .header-carousel .owl-nav .owl-next {
        /* bottom: -30px; */
        left: 50%;
        transform: translateX(-50%);
        margin-left: 45px;
    }
}
/*** Carousel Hero Header End ***/


/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    position: relative;
    overflow: hidden;
    background: url(../img/banner-facturacion.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;
    transition: 0.5s;
}

.bg-breadcrumb .breadcrumb {
    position: relative;
}

.bg-breadcrumb .breadcrumb .breadcrumb-item a {
    color: var(--bs-white);
}

.bg-breadcrumb1 {
    position: relative;
    overflow: hidden;
    /* background: linear-gradient(rgba(1, 95, 201, 0.9), rgba(0, 0, 0, 0.2)), url(../img/bg-breadcrumb.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;
    transition: 0.5s;
}

.bg-breadcrumb1 .breadcrumb1 {
    position: relative;
}

.bg-breadcrumb1 .breadcrumb1 .breadcrumb1-item a {
    color: var(--bs-white);
}

.bg-breadcrumb-store {
    position: relative;
    overflow: hidden;
    /* background: linear-gradient(rgba(1, 95, 201, 0.9), rgba(0, 0, 0, 0.2)), url(../img/banner-store.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;
    transition: 0.5s;
}

.bg-breadcrumb-store .breadcrumb1 {
    position: relative;
}

.bg-breadcrumb-store .breadcrumb-store .breadcrumb-store-item a {
    color: var(--bs-white);
}
/*** Single Page Hero Header End ***/


/*** Feature Start ***/
.feature .feature-item {
    min-height: 400px;
    border-radius: 10px;
    background: var(--bs-white);
    transition: 0.5s;
}

.feature .feature-item-f {
    min-height: 280px;
    border-radius: 10px;
    background: var(--bs-white);
    transition: 0.5s;
}

.feature .feature-item:hover {
    background: var(--bs-primary);
}

.feature .feature-item-f:hover {
    background: var(--bs-primary);
}

.feature .feature-item .feature-icon {
    position: relative;
    width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--bs-light);
}

.feature .feature-item-f .feature-icon {
    position: relative;
    /* width: 100px; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--bs-light);
}

.feature .feature-item:hover .feature-icon i {
    z-index: 9;
}

.feature .feature-item-f:hover .feature-icon i {
    z-index: 9;
}

.feature .feature-item .feature-icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--bs-dark);
    transition: 0.5s;
    z-index: 1;
}

.feature .feature-item-f .feature-icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--bs-dark);
    transition: 0.5s;
    z-index: 1;
}

.feature .feature-item:hover .feature-icon::after {
    height: 100%;
}

.feature .feature-item-f:hover .feature-icon::after {
    height: 100%;
}

.feature .feature-item .feature-icon {
    color: var(--bs-primary);
}

.feature .feature-item-f .feature-icon {
    color: var(--bs-primary);
}

.feature .feature-item .feature-icon,
.feature .feature-item h4,
.feature .feature-item p {
    transition: 0.5s;
}

.feature .feature-item-f .feature-icon,
.feature .feature-item-f h4,
.feature .feature-item-f p {
    transition: 0.5s;
}

.feature .feature-item:hover .feature-icon {
    color: var(--bs-white);
}

.feature .feature-item-f:hover .feature-icon {
    color: var(--bs-white);
}

.feature .feature-item:hover h4,
.feature .feature-item:hover p {
    color: var(--bs-white);
}

.feature .feature-item-f:hover h4,
.feature .feature-item-f:hover p {
    color: var(--bs-white);
}

.feature .feature-item:hover a.btn {
    background: var(--bs-white);
    color: var(--bs-primary);
}

.feature .feature-item-f:hover a.btn {
    background: var(--bs-white);
    color: var(--bs-primary);
}

.feature .feature-item:hover a.btn:hover {
    background: var(--bs-dark);
    color: var(--bs-white);
}

.feature .feature-item-f:hover a.btn:hover {
    background: var(--bs-dark);
    color: var(--bs-white);
}
/*** Feature End ***/


/*** Service Start ***/
.service .service-item {
    border-radius: 10px;
}
.service .service-item .service-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.service .service-item .service-img img {
    transition: 0.5s;
}

.service .service-item:hover .service-img img {
    transform: scale(1.1);
}

.service .service-item .service-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(1, 95, 201, .2);
    transition: 0.5s;
    z-index: 1;
}

.service .service-item:hover .service-img::after {
    height: 100%;
}

.service .service-item .service-img .service-icon {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 0;
    right: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: var(--bs-light);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 9;
}

.service .service-item .service-img .service-icon svg {
    color: var(--bs-primary);
    transition: 0.5s;
}

.service .service-item:hover .service-img .service-icon svg {
    transform: rotateX(360deg);
    fill: var(--bs-white);
}

.service .service-item:hover .service-img .service-icon {
    bottom: 0;
    color: var(--bs-white);
    background: var(--bs-primary);
}

.service .service-content {
    height: 250px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--bs-light);
}

.service .service-item .service-content .service-content-inner {
    position: relative;
    z-index: 9;
}

.service .service-item .service-content .service-content-inner .h4,
.service .service-item .service-content .service-content-inner p {
    transition: 0.5s;
}

.service .service-item:hover .service-content .service-content-inner .h4,
.service .service-item:hover .service-content .service-content-inner p {
    color: var(--bs-white);
}

.service .service-item:hover .service-content .service-content-inner .btn.btn-primary {
    color: var(--bs-primary);
    background: var(--bs-white);
}

.service .service-item:hover .service-content .service-content-inner .btn.btn-primary:hover {
    color: var(--bs-white);
    background: var(--bs-dark);
}

.service .service-item:hover .service-content .service-content-inner .h4:hover {
    color: var(--bs-dark);
}

.service .service-item .service-content::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--bs-primary);
    transition: 0.5s;
    z-index: 1;
}

.service .service-item:hover .service-content::after {
    height: 100%;
}
/*** Service End ***/


/*** FAQs Start ***/
.faq-section .accordion .accordion-item .accordion-header .accordion-button {
    color: var(--bs-white);
    background: rgba(1, 95, 201, .8);
    font-size: 18px;
}

.faq-section .accordion .accordion-item .accordion-header .accordion-button.collapsed {
    color: var(--bs-primary);
    background: var(--bs-light);
}
/*** FAQs End ***/


/*** Blog Start ***/
.blog .blog-item {
    border-radius: 10px;
    transition: 0.5s;
}

.blog .blog-item:hover {
    box-shadow: 0 0 45px rgba(0, 0, 0, .1);
}

.blog .blog-item:hover .blog-content {
    background: var(--bs-white);
}

.blog .blog-item .blog-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    overflow: hidden;
}

.blog .blog-item .blog-img img {
    transition: 0.5s;
}

.blog .blog-item:hover .blog-img img {
    transform: scale(1.2);
}

.blog .blog-item .blog-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(1, 95, 201, .2);
    transition: 0.5s;
    z-index: 1;
}

.blog .blog-item:hover .blog-img::after {
    height: 100%;
}

.blog .blog-item .blog-img .blog-categiry {
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 10px;
    display: inline-flex;
    color: var(--bs-white);
    background: var(--bs-primary);
    z-index: 9;
}

.blog .blog-item .blog-content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--bs-light);
}

.blog .blog-item .blog-content a.btn {
    color: var(--bs-dark);
}

.blog .blog-item:hover .blog-content a.btn:hover {
    color: var(--bs-primary);
}
/*** Blog End ***/


/*** Team Start ***/
.team .team-item .team-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} 

.team .team-item .team-img img {
    transition: 0.5s;
}

.team .team-item:hover .team-img img {
    transform: scale(1.1);
}

.team .team-item .team-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s;
}

.team .team-item:hover .team-img::after {
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
}

.team .team-item .team-img .team-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-bottom: -100%;
    transition: 0.5s;
    z-index: 9;
}

.team .team-item:hover .team-img .team-icon {
    margin-bottom: 0;
}

.team .team-item .team-title {
    min-height: 125px;
    color: var(--bs-white);
    background: var(--bs-primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s;
}

.team .team-item .team-title h4 {
    color: var(--bs-white);
}

.team .team-item:hover .team-title {
    background: var(--bs-dark);
}
/*** Team End ***/


/*** Testimonial Start ***/
.testimonial-carousel .owl-stage-outer {
    margin-top: 58px;
    margin-right: -1px;
}

.testimonial .owl-nav .owl-prev {
    position: absolute;
    top: -58px;
    left: 0;
    background: var(--bs-primary);
    color: var(--bs-white);
    padding: 5px 30px;
    border-radius: 30px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-prev:hover {
    background: var(--bs-dark);
    color: var(--bs-white);
}

.testimonial .owl-nav .owl-next {
    position: absolute;
    top: -58px;
    right: 0;
    background: var(--bs-primary);
    color: var(--bs-white);
    padding: 5px 30px;
    border-radius: 30px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-next:hover {
    background: var(--bs-dark);
    color: var(--bs-white);
}
/*** Testimonial End ***/


/*** Contact Start ***/
.contact .contact-img {
    position: relative;
}

.contact .contact-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1;
    animation-name: image-efects;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 0.5s
}

@keyframes image-efects {
    0%  {border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;}

    25% {border-radius: 35% 65% 27% 73% / 71% 25% 75% 29%;}

    50% {border-radius: 41% 59% 45% 55% / 32% 21% 79% 68%;}

    75% {border-radius: 69% 31% 39% 61% / 70% 83% 17% 30%;}

    100% {border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;}
}

.contact .contact-img .contact-img-inner {
    position: relative;
    z-index: 9;
}
/*** Contact End ***/


/*** Footer Start ***/
.footer {
    background: var(--bs-dark);
}

.footer .footer-item {
    display: flex;
    flex-direction: column;
}

.footer .footer-item a {
    line-height: 35px;
    color: var(--bs-body);
    transition: 0.5s;
}

.footer .footer-item p {
    line-height: 35px;
}

.footer .footer-item a:hover {
    color: var(--bs-primary);
}

.footer .footer-item .footer-btn a,
.footer .footer-item .footer-btn a i {
    transition: 0.5s;
}

.footer .footer-item .footer-btn a:hover {
    background: var(--bs-white);
}

.footer .footer-item .footer-btn a:hover i {
    color: var(--bs-primary);
}


.footer .footer-item .footer-instagram {
    position: relative;
    overflow: hidden;
}

.footer .footer-item .footer-instagram img {
    transition: 0.5s;
}

.footer .footer-item .footer-instagram:hover img {
    transform: scale(1.2);
}

.footer .footer-item .footer-instagram .footer-search-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    opacity: 0;
}

.footer .footer-item .footer-instagram:hover .footer-search-icon {
    opacity: 1;
    background: rgba(0, 0, 0, .6);
}

.footer .footer-item .footer-btn a {
    background: var(--bs-light);
    color: var(--bs-primary);
}

.footer .footer-item .footer-btn a:hover {
    background: var(--bs-primary);
}

.footer .footer-item .footer-btn a:hover i {
    color: var(--bs-white);
}
/*** Footer End ***/


/*** copyright Start ***/
.copyright {
    background: var(--bs-dark);
    border-top: 1px solid rgba(255, 255, 255, .08);
}
/*** copyright end ***/

.btn .badge{
    top: -15px;
    background-color: var(--bs-primary);
}

.bg-secondary{
    background-color: var(--bs-secondary);
}

.icon-svg{
    fill: var(--bs-primary);
}

.feature .feature-item:hover .feature-icon .icon-svg {
    z-index: 9;
    fill: white;
}



/* PRECIOS */

/* ======================== */
/*   Syed Sahar Ali Raza   	*/
/* ========================	*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);


#generic_price_table{
	background-color: #fff;
}

/*PRICE COLOR CODE START*/
#generic_price_table .generic_content{
	background-color: #fff;
}

#generic_price_table .generic_content .generic_head_price{
	background-color: #fff;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
	border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
	color: #525252;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li{	
	color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list ul li span{
	color: #414141;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	background-color: #E4E4E4;
	border-left: 5px solid #015fc9;
}

#generic_price_table .generic_content .generic_price_btn a{
	border: 1px solid #015fc9; 
    color: #015fc9;
} 

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg{
	border-color: #015fc9 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #015fc9;
	color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span{
	color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a{
	background-color: #015fc9;
	color: #fff;
} 
#generic_price_table{
	/* margin: 50px 0 50px 0; */
    font-family: 'Raleway', sans-serif;
}
.row .table{
    padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content{
	overflow: hidden;
	position: relative;
	text-align: center;
  height: 630px;
}

#generic_price_table .generic_content .generic_head_price {
	margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content{
	margin: 0 0 50px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    border-style: solid;
    border-width: 90px 1411px 23px 399px;
	position: absolute;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head{
	padding-top: 40px;
	position: relative;
	z-index: 1;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    font-family: "Raleway",sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag{
	padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price{
	display: block;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    font-family: "Lato",sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li{
	font-family: "Lato",sans-serif;
	font-size: 18px;
	padding: 15px 0;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;

}
#generic_price_table .generic_content .generic_feature_list ul li .fa{
	padding: 0 10px;
}
#generic_price_table .generic_content .generic_price_btn{
	margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn a{
    border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
} 
@media (max-width: 320px) {	
}

@media (max-width: 767px) {
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#generic_price_table .col-md-3{
		float:left;
		width:50%;
	}
	
	#generic_price_table .col-md-4{
		float:left;
		width:50%;
	}
	
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
#generic_price_table_home{
	 font-family: 'Raleway', sans-serif;
}

.text-center h1,
.text-center h1 a{
	color: #7885CB;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none;
}
.demo-pic{
	margin: 0 auto;
}
.demo-pic:hover{
	opacity: 0.7;
}

#generic_price_table_home ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: table;
}
#generic_price_table_home li{
	float: left;
}
#generic_price_table_home li + li{
	margin-left: 10px;
	padding-bottom: 10px;
}
#generic_price_table_home li a{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 0px;
}
#generic_price_table_home .blue{
	background: #3498DB;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .emerald{
	background: #015fc9;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .grey{
	background: #7F8C8D;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .midnight{
	background: #34495E;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .orange{
	background: #015fc9;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .purple{
	background: #9B59B6;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .red{
	background: #E74C3C;
	transition:all 0.3s ease-in-out 0s;
}
#generic_price_table_home .turquoise{
	background: #1ABC9C;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover{
	border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .divider{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px;
}
#generic_price_table_home .divider span{
	width: 100%;
	display: table;
	height: 2px;
	background: #ddd;
	margin: 50px auto;
	line-height: 2px;
}
#generic_price_table_home .itemname{
	text-align: center;
	font-size: 50px ;
	padding: 50px 0 20px ;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-decoration: none;
    font-weight: 300;
}
#generic_price_table_home .itemnametext{
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    text-transform: uppercase;
    display: inline-block;
}
#generic_price_table_home .footer{
	padding:40px 0;
}

.price-heading{
    text-align: center;
}
.price-heading h1{
	color: #666;
	margin: 0;
	padding: 0 0 50px 0;
}
.demo-button {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium ;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.bottom_btn{
	background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 28px;
    margin: 60px auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
}
.demo-button:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
	
}
.bottom_btn:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
}



/* END PRECIOS */

/* PRECIOS 2 */
.card-pricing2{padding-bottom:10px;background:#fff!important;border-bottom:7px solid;text-align:center;overflow:hidden;position:relative;border-radius:10px;-webkit-box-shadow:0 1px 15px 1px rgba(69,65,78,.08);-moz-box-shadow:0 1px 15px 1px rgba(69,65,78,.08);box-shadow:0 1px 15px 1px rgba(69,65,78,.08)}.card-pricing2:before{content:"";width:100%;height:350px;position:absolute;top:-150px;left:0;transform:skewY(-20deg)}.card-pricing2 .price-value:after,.card-pricing2 .price-value:before{content:"";left:50%;transform:translateX(-50%) scaleY(.5) rotate(45deg)}.card-pricing2 .value:after,.card-pricing2 .value:before{content:"";left:50%;transform:translateX(-50%) scaleY(.5) rotate(45deg)}.card-pricing2 .pricing-header{padding:20px 20px 60px;text-align:left;position:relative}.card-pricing2 .sub-title{display:block;font-size:16px}.card-pricing2 .value{background:#fff}.card-pricing2 .price-value{display:inline-block;width:170px;height:110px;padding:15px;border:2px solid;border-top:none;border-bottom:none;position:relative}.card-pricing2 .price-value:after,.card-pricing2 .price-value:before{width:121px;height:121px;border:3px solid;border-right:none;border-bottom:none;position:absolute;top:-60px}.card-pricing2 .price-value:after{border-top:none;border-left:none;border-bottom:3px solid;border-right:3px solid;top:auto;bottom:-60px}.card-pricing2 .value{width:100%;height:100%;border:2px solid;border-top:none;border-bottom:none;z-index:1;position:relative}.card-pricing2 .value:after,.card-pricing2 .value:before{width:97px;height:97px;background:#fff;border:3px solid;border-bottom:none;border-right:none;position:absolute;top:-48px;z-index:-1}.card-pricing2 .value:after{border-right:3px solid;border-bottom:3px solid;border-top:none;border-left:none;top:auto;bottom:-48px}.card-pricing2 .currency{display:inline-block;font-size:30px;margin-top:7px;vertical-align:top}.card-pricing2 .amount{display:inline-block;font-size:40px;font-weight:600;line-height:65px}.card-pricing2 .amount span{display:inline-block;font-size:30px;font-weight:400;vertical-align:top;margin-top:-7px}.card-pricing2 .month{display:block;font-size:16px;line-height:0}.card-pricing2 .pricing-content{padding:50px 0 0 80px;margin-bottom:20px;list-style:none;text-align:left;transition:all .3s ease 0s}.card-pricing2 .pricing-content li{padding:7px 0;font-size:13px;color:grey;position:relative}.card-pricing2 .pricing-content li.disable:before,.card-pricing2 .pricing-content li:before{content:"\f00c";font-family:'Font Awesome 5 Solid';font-weight:900;width:20px;height:20px;line-height:20px;border-radius:50%;background:#98c458;text-align:center;color:#fff;position:absolute;left:-50px;font-size:9px}.card-pricing2 .pricing-content li.disable:before{content:"\f00d";background:#fe6c6c}.card-pricing2.card-black{border-bottom-color:#1a2035}.card-pricing2.card-black .price-value:before,.card-pricing2.card-black .value:before{border-left-color:#1a2035;border-top-color:#1a2035}.card-pricing2.card-black .price-value,.card-pricing2.card-black .value{border-right-color:#1a2035}.card-pricing2.card-black .price-value:after,.card-pricing2.card-black .value:after{border-right-color:#1a2035}.card-pricing2.card-black .price-value:after,.card-pricing2.card-black .value:after{border-bottom-color:#1a2035}.card-pricing2.card-black .value{color:#1a2035}.card-pricing2.card-black:before{background:#1a2035}.card-pricing2.card-black .price-value,.card-pricing2.card-black .value{border-left-color:#1a2035}.card-pricing2.card-primary{border-bottom-color:#1572e8}.card-pricing2.card-primary .price-value:before,.card-pricing2.card-primary .value:before{border-left-color:#1572e8;border-top-color:#1572e8}.card-pricing2.card-primary .price-value,.card-pricing2.card-primary .value{border-right-color:#1572e8}.card-pricing2.card-primary .price-value:after,.card-pricing2.card-primary .value:after{border-right-color:#1572e8}.card-pricing2.card-primary .price-value:after,.card-pricing2.card-primary .value:after{border-bottom-color:#1572e8}.card-pricing2.card-primary .value{color:#1572e8}.card-pricing2.card-primary:before{background:#1572e8}.card-pricing2.card-primary .price-value,.card-pricing2.card-primary .value{border-left-color:#1572e8}.card-pricing2.card-secondary{border-bottom-color:#6861ce}.card-pricing2.card-secondary .price-value:before,.card-pricing2.card-secondary .value:before{border-left-color:#6861ce;border-top-color:#6861ce}.card-pricing2.card-secondary .price-value,.card-pricing2.card-secondary .value{border-right-color:#6861ce}.card-pricing2.card-secondary .price-value:after,.card-pricing2.card-secondary .value:after{border-right-color:#6861ce}.card-pricing2.card-secondary .price-value:after,.card-pricing2.card-secondary .value:after{border-bottom-color:#6861ce}.card-pricing2.card-secondary .value{color:#6861ce}.card-pricing2.card-secondary:before{background:#6861ce}.card-pricing2.card-secondary .price-value,.card-pricing2.card-secondary .value{border-left-color:#6861ce}.card-pricing2.card-info{border-bottom-color:#48abf7}.card-pricing2.card-info .price-value:before,.card-pricing2.card-info .value:before{border-left-color:#48abf7;border-top-color:#48abf7}.card-pricing2.card-info .price-value,.card-pricing2.card-info .value{border-right-color:#48abf7}.card-pricing2.card-info .price-value:after,.card-pricing2.card-info .value:after{border-right-color:#48abf7}.card-pricing2.card-info .price-value:after,.card-pricing2.card-info .value:after{border-bottom-color:#48abf7}.card-pricing2.card-info .value{color:#48abf7}.card-pricing2.card-info:before{background:#48abf7}.card-pricing2.card-info .price-value,.card-pricing2.card-info .value{border-left-color:#48abf7}.card-pricing2.card-success{border-bottom-color:#31ce36}.card-pricing2.card-success .price-value:before,.card-pricing2.card-success .value:before{border-left-color:#31ce36;border-top-color:#31ce36}.card-pricing2.card-success .price-value,.card-pricing2.card-success .value{border-right-color:#31ce36}.card-pricing2.card-success .price-value:after,.card-pricing2.card-success .value:after{border-right-color:#31ce36}.card-pricing2.card-success .price-value:after,.card-pricing2.card-success .value:after{border-bottom-color:#31ce36}.card-pricing2.card-success .value{color:#31ce36}.card-pricing2.card-success:before{background:#31ce36}.card-pricing2.card-success .price-value,.card-pricing2.card-success .value{border-left-color:#31ce36}.card-pricing2.card-warning{border-bottom-color:#ffad46}.card-pricing2.card-warning .price-value:before,.card-pricing2.card-warning .value:before{border-left-color:#ffad46;border-top-color:#ffad46}.card-pricing2.card-warning .price-value,.card-pricing2.card-warning .value{border-right-color:#ffad46}.card-pricing2.card-warning .price-value:after,.card-pricing2.card-warning .value:after{border-right-color:#ffad46}.card-pricing2.card-warning .price-value:after,.card-pricing2.card-warning .value:after{border-bottom-color:#ffad46}.card-pricing2.card-warning .value{color:#ffad46}.card-pricing2.card-warning:before{background:#ffad46}.card-pricing2.card-warning .price-value,.card-pricing2.card-warning .value{border-left-color:#ffad46}.card-pricing2.card-danger{border-bottom-color:#f25961}.card-pricing2.card-danger .price-value:before,.card-pricing2.card-danger .value:before{border-left-color:#f25961;border-top-color:#f25961}.card-pricing2.card-danger .price-value,.card-pricing2.card-danger .value{border-right-color:#f25961}.card-pricing2.card-danger .price-value:after,.card-pricing2.card-danger .value:after{border-right-color:#f25961}.card-pricing2.card-danger .price-value:after,.card-pricing2.card-danger .value:after{border-bottom-color:#f25961}.card-pricing2.card-danger .value{color:#f25961}.card-pricing2.card-danger:before{background:#f25961}.card-pricing2.card-danger .price-value,.card-pricing2.card-danger .value{border-left-color:#f25961}
.card-pricing2 .pricing-content li.disable:before,.card-pricing2 .pricing-content li:before{content:"\f00c";font-family:'Font Awesome 5 Solid';font-weight:900;width:20px;height:20px;line-height:20px;border-radius:50%;background:#98c458;text-align:center;color:#fff;position:absolute;left:-50px;font-size:9px}.card-pricing2 .pricing-content li.disable:before{content:"\f00d";background:#fe6c6c}.card-pricing2.card-black{border-bottom-color:#1a2035}.card-pricing2.card-black .price-value:before,.card-pricing2.card-black .value:before{border-left-color:#1a2035;border-top-color:#1a2035}.card-pricing2.card-black .price-value,.card-pricing2.card-black .value{border-right-color:#1a2035}.card-pricing2.card-black .price-value:after,.card-pricing2.card-black .value:after{border-right-color:#1a2035}.card-pricing2.card-black .price-value:after,.card-pricing2.card-black .value:after{border-bottom-color:#1a2035}.card-pricing2.card-black .value{color:#1a2035}.card-pricing2.card-black:before{background:#1a2035}.card-pricing2.card-black .price-value,.card-pricing2.card-black .value{border-left-color:#1a2035}.card-pricing2.card-primary{border-bottom-color:#1572e8}.card-pricing2.card-primary .price-value:before,.card-pricing2.card-primary .value:before{border-left-color:#1572e8;border-top-color:#1572e8}.card-pricing2.card-primary .price-value,.card-pricing2.card-primary .value{border-right-color:#1572e8}.card-pricing2.card-primary .price-value:after,.card-pricing2.card-primary .value:after{border-right-color:#1572e8}.card-pricing2.card-primary .price-value:after,.card-pricing2.card-primary .value:after{border-bottom-color:#1572e8}.card-pricing2.card-primary .value{color:#1572e8}.card-pricing2.card-primary:before{background:#1572e8}.card-pricing2.card-primary .price-value,.card-pricing2.card-primary .value{border-left-color:#1572e8}.card-pricing2.card-secondary{border-bottom-color:#6861ce}.card-pricing2.card-secondary .price-value:before,.card-pricing2.card-secondary .value:before{border-left-color:#6861ce;border-top-color:#6861ce}.card-pricing2.card-secondary .price-value,.card-pricing2.card-secondary .value{border-right-color:#6861ce}.card-pricing2.card-secondary .price-value:after,.card-pricing2.card-secondary .value:after{border-right-color:#6861ce}.card-pricing2.card-secondary .price-value:after,.card-pricing2.card-secondary .value:after{border-bottom-color:#6861ce}.card-pricing2.card-secondary .value{color:#6861ce}.card-pricing2.card-secondary:before{background:#6861ce}.card-pricing2.card-secondary .price-value,.card-pricing2.card-secondary .value{border-left-color:#6861ce}.card-pricing2.card-info{border-bottom-color:#48abf7}.card-pricing2.card-info .price-value:before,.card-pricing2.card-info .value:before{border-left-color:#48abf7;border-top-color:#48abf7}.card-pricing2.card-info .price-value,.card-pricing2.card-info .value{border-right-color:#48abf7}.card-pricing2.card-info .price-value:after,.card-pricing2.card-info .value:after{border-right-color:#48abf7}.card-pricing2.card-info .price-value:after,.card-pricing2.card-info .value:after{border-bottom-color:#48abf7}.card-pricing2.card-info .value{color:#48abf7}.card-pricing2.card-info:before{background:#48abf7}.card-pricing2.card-info .price-value,.card-pricing2.card-info .value{border-left-color:#48abf7}.card-pricing2.card-success{border-bottom-color:#31ce36}.card-pricing2.card-success .price-value:before,.card-pricing2.card-success .value:before{border-left-color:#31ce36;border-top-color:#31ce36}.card-pricing2.card-success .price-value,.card-pricing2.card-success .value{border-right-color:#31ce36}.card-pricing2.card-success .price-value:after,.card-pricing2.card-success .value:after{border-right-color:#31ce36}.card-pricing2.card-success .price-value:after,.card-pricing2.card-success .value:after{border-bottom-color:#31ce36}.card-pricing2.card-success .value{color:#31ce36}.card-pricing2.card-success:before{background:#31ce36}.card-pricing2.card-success .price-value,.card-pricing2.card-success .value{border-left-color:#31ce36}.card-pricing2.card-warning{border-bottom-color:#ffad46}.card-pricing2.card-warning .price-value:before,.card-pricing2.card-warning .value:before{border-left-color:#ffad46;border-top-color:#ffad46}.card-pricing2.card-warning .price-value,.card-pricing2.card-warning .value{border-right-color:#ffad46}.card-pricing2.card-warning .price-value:after,.card-pricing2.card-warning .value:after{border-right-color:#ffad46}.card-pricing2.card-warning .price-value:after,.card-pricing2.card-warning .value:after{border-bottom-color:#ffad46}.card-pricing2.card-warning .value{color:#ffad46}.card-pricing2.card-warning:before{background:#ffad46}.card-pricing2.card-warning .price-value,.card-pricing2.card-warning .value{border-left-color:#ffad46}.card-pricing2.card-danger{border-bottom-color:#f25961}.card-pricing2.card-danger .price-value:before,.card-pricing2.card-danger .value:before{border-left-color:#f25961;border-top-color:#f25961}.card-pricing2.card-danger .price-value,.card-pricing2.card-danger .value{border-right-color:#f25961}.card-pricing2.card-danger .price-value:after,.card-pricing2.card-danger .value:after{border-right-color:#f25961}.card-pricing2.card-danger .price-value:after,.card-pricing2.card-danger .value:after{border-bottom-color:#f25961}.card-pricing2.card-danger .value{color:#f25961}.card-pricing2.card-danger:before{background:#f25961}.card-pricing2.card-danger .price-value,.card-pricing2.card-danger .value{border-left-color:#f25961}
/* END PRECIOS 2 */


/* GALLERY */
/*------------------------------------*\
    MATERIAL PHOTO GALLERY
\*------------------------------------*/
.m-p-g {
    max-width: 100%;
    margin: 0 auto;
  }
  .m-p-g__thumbs-img {
    margin: 0;
    float: left;
    vertical-align: bottom;
    cursor: pointer;
    z-index: 1;
    position: relative;
    opacity: 0;
    filter: brightness(100%);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    will-change: opacity, transform;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .m-p-g__thumbs-img.active {
    z-index: 50;
  }
  .m-p-g__thumbs-img.layout-completed {
    opacity: 1;
  }
  .m-p-g__thumbs-img.hide {
    opacity: 0;
  }
  .m-p-g__thumbs-img:hover {
    filter: brightness(110%);
  }
  .m-p-g__fullscreen {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    visibility: hidden;
    transition: background 0.25s ease-out, visibility 0.01s 0.5s linear;
    will-change: background, visibility;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .m-p-g__fullscreen.active {
    transition: background 0.25s ease-out, visibility 0.01s 0s linear;
    visibility: visible;
    background: rgba(0, 0, 0, 0.95);
  }
  .m-p-g__fullscreen-img {
    pointer-events: none;
    position: absolute;
    transform-origin: left top;
    top: 50%;
    left: 50%;
    max-height: 100vh;
    max-width: 100%;
    visibility: hidden;
    will-change: visibility;
    transition: opacity 0.5s ease-out;
  }
  .m-p-g__fullscreen-img.active {
    visibility: visible;
    opacity: 1 !important;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease-out;
  }
  .m-p-g__fullscreen-img.almost-active {
    opacity: 0;
    transform: translate3d(0, 0, 0) !important;
  }
  .m-p-g__controls {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
    height: 20vh;
    background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.55) 100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .m-p-g__controls.active {
    opacity: 1;
    visibility: visible;
  }
  .m-p-g__controls-close, .m-p-g__controls-arrow {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    background: none;
  }
  .m-p-g__controls-close:focus, .m-p-g__controls-arrow:focus {
    outline: none;
  }
  .m-p-g__controls-arrow {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
  }
  .m-p-g__controls-arrow:hover {
    opacity: 1;
  }
  .m-p-g__controls-arrow--prev {
    left: 0;
    padding-left: 3vw;
    justify-content: flex-start;
  }
  .m-p-g__controls-arrow--next {
    right: 0;
    padding-right: 3vw;
    justify-content: flex-end;
  }
  .m-p-g__controls-close {
    position: absolute;
    top: 3vh;
    left: 3vw;
    z-index: 5;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .m-p-g__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.07);
    transition: all 0.25s ease-out;
  }
  .m-p-g__btn:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  .m-p-g__alertBox {
    position: fixed;
    z-index: 999;
    max-width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 25px;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    color: grey;
  }
  .m-p-g__alertBox h2 {
    color: red;
  }

  /* END GALLERY */

